:root{
    --head-color:rgba(255,255,255,1);
    --menu-nav:rgba(33, 33, 33, 1);
    --logo-first:rgba(33, 150, 243, 1);
    --logo-second:rgba(0,0,0,1);
    --address:rgba(117,117,117,1);
    --button-background:rgba(47, 48, 58, 1);
    --footer-adress:rgba(255, 255, 255, 0.6);
    --second-page-button-background:rgba(245, 244, 250, 1);
    --second-page-container-bg:rgba(238, 238, 238, 1);
    --portfolio-line:rgba(236, 236, 236, 1);
    ;
}

body{
    font-family: "Roboto";
    font-size: 14px;
}

.header{
    padding: 24px 0;
    border: 1px solid var(--portfolio-line);
}

.header-wrap{
    display: flex;
    gap: 94px;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.contacts-list{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.contacts-list-link{
    width: 161px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgba(117, 117, 117, 1);
}

.contacts-list-link:hover{
    color: rgba(33, 150, 243, 1);
}

.contacts-list-svg{
    margin-bottom: 2px;
    fill: currentColor;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.header-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--logo-first);
}

.header-studio{
    color: var(--logo-second);
}

.footer-logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--logo-first);
}

.footer-studio{
    color: var(--head-color);
}

.nav-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--menu-nav);
}

.contacts-list-link{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--address);
}


.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--button-background);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/sectionhero-background.jpg);
}

.section-hero-title{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--head-color);
    max-width: 696px;
    margin: 0 auto;
}

.section-hero-btn{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 216px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--head-color);
    background-color: var(--logo-first);
    margin-top: 30px;
    border-radius: 4px;
}

.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list{
    display: flex;
    gap: 30px;
}

.features-list-title{
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-align: left;
color: var(--menu-nav);
margin-bottom: 10px;
margin-top: 30px;
}

.features-list-item-first::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-image: url('../images/features-list-imgfirst.png');
    display: inline-block;
}

.features-list-item-second::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-image: url('../images/features-list-imgsecond.png');
    display: inline-block;
}

.features-list-item-third::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-image: url('../images/features-list-imgthird.png');
    display: inline-block;
}

.features-list-item-fourth::before{
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-image: url('../images/features-list-imgfourth.png');
    display: inline-block;
}

.features-list-desc{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--address);
}

.section-work{
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.work-list-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.work-list-wrap{
    position: relative;
}

.section-work-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--menu-nav);
    margin-bottom: 50px;
}

.section-team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--second-page-button-background);
}

.section-team-wrap{
    display: flex;
    justify-content: space-around;
}

.team-list{
    display: flex;
    gap: 30px;
}

.team-list-item{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: var(--head-color);
}

.social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 30px;
}

.social-list-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgba(175, 177, 184);
}

.social-list-link:hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}

.social-list-svg{
    fill: currentColor;
}

.section-team-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--menu-nav);
    margin-bottom: 50px;
}

.team-list-info{
    margin-top: 30px;
}

.team-list-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--menu-nav);
    margin-bottom: 10px;
}

.team-list-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--address);
}

/* ---------------------------------------------------------------|
                                                                  |
Постійні клієнти                                                  | 
---------------------------------------------------------------- */

.section-clients{
    padding-top: 94px;
    padding-bottom: 94px;
    }

.clients-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;  
    margin-bottom: 50px;
}   
 
.clients-list{
    display: flex;
    gap: 30px;
}

.clients-list-item{
    flex-basis: calc((100% - 150px) / 6);
}

.clients-list-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border-radius: 4px;
    border: solid 1px;
    color: rgba(175, 177, 184, 1);
}

.clients-list-link:hover{
    color: rgba(33, 150, 243, 1);
    border-color: rgba(33, 150, 243, 1);
}

.clients-list-svg{
    fill: currentColor;
}

.address-list-link{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--footer-adress);
}

footer{
    background-color: var(--button-background);
    padding: 60px 0;
}

a[href^="https"]{
    color: var(--head-color);
}

.footer-wrap{
    display: flex;
    gap: 70px;
}

.join-wrap-title{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.join-list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.join-list-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 1);
}

.join-list-link:hover{
    background-color: rgba(33, 150, 243, 1);
}

.join-list-svg{
    fill: currentColor;
}

.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px; 
}

.filter-list{
    display: flex;
    gap: 8px;
    justify-content: center;
}

.filter-list-btn{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--menu-nav);
    padding: 6px 22px 6px 22px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
}

.portfolio-list-item{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    outline: 1px solid var(--second-page-container-bg);
}

.portfolio-list-wrap{
    padding: 20px 24px 20px 24px;
}

.portfolio-list-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--menu-nav);
    margin-bottom: 4px;
}

.portfolio-list-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--address);
}


